<header>
    <nav>
        <h1>Monkfish</h1>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/restaurants">Restaurants</a></li>
            <li><a href="/about">About</a></li>
            {{#if user}}
            <li><a href="/logout">Logout</a></li>
            {{else}}
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
            {{/if}}
        </ul>
    </nav>
</header>

<footer>
    <p>Monkfish &copy; 2021</p>
    <p>Made with meds by Drew and Mei</p>
</footer>