{{!-- user.handlebars --}}
{{#each users}}
  <div class="user">
    <img src="/images/profile/{{photo}}" alt="{{name}}'s photo">
    <h2>{{name}}</h2>
    <p>Hospitality Experience: {{hospitalityExperience}}</p>
  </div>
{{/each}}

