<div class="container">
  <section class="mx-auto my-5">
     {{!-- style="max-width: 23rem;" --}}
    <div class="row row-cols-1 row-cols-md-3 g-4">

        {{#each restaurants as |restaurant|}}
        <div class="col">  
            {{> restaurant-info restaurant }}
        </div>
        {{/each}}

    </div>
  </section>
</div>