<div class="container">
  <section class="mx-auto my-5">
    <div class="row row-cols-1 row-cols-md-3 g-4">

        {{#each restaurants as |restaurant|}}
        <div class="col">  
            {{> restaurant-info restaurant 
                imageBaseUrl="images" 
                showLink=true 
                showRatings=false}}
        </div>
        {{/each}}

    </div>
  </section>
</div>
