<div class="container">
  <section class="mx-auto my-5" style="max-width: 23rem;">  
    {{> restaurant-info restaurant imageBaseUrl="../images" showLink=false}}  
  </section>
</div>


{{!-- <script src="/javascript/rating.js"></script> --}}
